/* #f3a2be #ffd3dd #f0f9f8 #c6e6e3 #81bfb7 */
/* #102b53 #50698d #ceb5d4 #4e7ab1 #7d9fc0 */
html, body {
    margin: 0;
    background: linear-gradient(to bottom, #102b53, #4e7ab1) fixed;
    font-family: "Arial Black", serif;
    height: 100vh;
}

.portfolio {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "h h" "p s" "f f";
    min-height: 600px;
}

.navihead {
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #50698d;
}
.logo {
    font-size: 2em;
    color: #ceb5d4;
    text-shadow: 0 0 20px rgba(72, 122, 177, 0.7);
}
.navi {
    display: flex;
    list-style: none;
}
.navi a{
    margin-left: 30px;
    text-decoration: none;
    color: #102b53;
    transition: color 0.5s;
}
.navi a:hover {
    color: #7d9fc0;
}

.projects {
    grid-area: p;
    background: rgba(126, 159, 192, 0.2);
    padding: 20px;
    margin: 40px 20px;
    border-radius: 45px;
}
.afaf {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 0;
}
.text {
    text-align: center;
    font-size: 2em;
    color: #7d9fc0;
}
.cards {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    overflow: hidden;
    border-radius: 35px;
    text-align: center;
    padding: 10px 10px 40px;
    color: #102b53;
    background: linear-gradient(to bottom, #ceb5d4, #7d9fc0);
    transition: transform 0.5s;
}
.cards:hover {
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 4px 10px rgba(16, 43, 83, 0.7);
}
h3 {
    font-size: 2em;
    margin: 30px 0 0;
}
.cards img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.cards p {
    font-style: italic;
    color: #4e7ab1;
    font-size: 0.7em;
    padding: 25px 25px 35px;
    text-shadow: 0 1px 5px rgba(80, 105, 141, 0.3);
}
.button {
    background-color: #4e7ab1;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 50%;
    font-size: 0.7em;
    cursor: pointer;
    transition: transform 0.5s, background-color 0.5s, color 0.5s;
    text-decoration: none;
    color: #7d9fc0;
}
.cards .button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(16, 43, 83, 0.4);
    background-color: #ceb5d4;
    color: #4e7ab1;
}

aside {
    grid-area: s;
    padding: 40px 20px;
    margin: 40px 20px;
    text-align: center;
    background: rgba(126, 159, 192, 0.2);
    border-radius: 45px;
    align-items: center;
}
aside p {
    font-size: 1.6em;
    margin: 30px 0 40px;
    color: #ceb5d4;
}
aside a {
    display: block;
    color: #7d9fc0;
    background-color: #102b53;
    text-decoration: none;
    padding: 10px;
    margin: 40px;
    width: auto;
    border-radius: 20px;
    transition: transform 0.5s, box-shadow 0.5s, background-color 0.5s, color 0.5s;
}
aside a:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 5px rgba(16, 43, 83, 0.7);
    background-color: #4e7ab1;
    color: #102b53;
}

footer {
    grid-area: f;
    background-color: #7d9fc0;
    color: #ceb5d4;
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
    margin-top: 40px;
}
footer .disclaimer {
    font-size: 12px;
    color: #4e7ab1;
}
